*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    width: 100%;
    height: 100vh;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center
{
  
    width: 70%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.center .box1
{
    font-size: 25px;
    text-align: center;
    text-transform: capitalize;
    margin: 5px;
    text-shadow: 2px 2px 4px #888888;
}

.center .box2
{
    font-size: 15px;
    text-align: center;
    text-transform: capitalize;
    margin: 5px;
}

.box3 .box4
{
    display: inline-block;
}
