* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    height: 100vh;
    background-color: azure;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1.5fr 1.3fr 0.8fr;

    grid-template-areas:
        "Navbar Navbar Navbar Navbar"
        "Sidebar Main Main Main"
        "Sidebar box1 box2 box3"
        "Sidebar Footer Footer Footer";
}

/* Grid items */
nav {
    grid-area: Navbar;
}

main {
    grid-area: Main;
}

aside {
    grid-area: Sidebar;
}

.box1 {
    grid-area: box1;
}

.box2 {
    grid-area: box2;
}

.box3 {
    grid-area: box3;
}

footer {
    grid-area: Footer;
}
