*{margin: 0;padding: 0;box-sizing: border-box;}

html,body{
    width: 100%;
}

nav
{
    width: 100%;
    height: 80px;
    background-color:lightslategrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100000;
}

.logo
{
    font-size: 2em;
    padding: 20px 30px;
}

.nav-links ul
{
    display: flex;
    gap:30px;
    margin: 0 10px;
}

.nav-links ul li
{
    list-style-type: none;
}
.nav-links ul li a
{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

.hero
{
    width: 100%;
    min-height: calc(100vh - 80px);
    border: 2px  solid black;
}

.main
{
    width: 100%;
    min-height: 100vh;
    border: 2px  solid black;
}