*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100vh;
    background-image:url(./pexels-muffin-2468773.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

#logo
{
    font-size: 2em;
    letter-spacing: 2px;
    color: white;
}

.links a{
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    position: relative;
}

.reg a{
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    background: indianred;
    border-radius: 8px;
    margin-top: 10px;
    color: white;
}

.txt 
{
    max-width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
}
.txt span{
    letter-spacing: 5px;
}
.txt h1{
    font-size: 3.5em;
}
.txt a{
    text-decoration: none;
    color: white;
    background-color: indianred;
    padding: 10px 20px;
    letter-spacing: 5px;
}

.links a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0%;
    height:100%;
    border-bottom: 2px solid indianred;
    transition:0.4s linear;
}
.links a:hover:before 
{
    width: 90%;
}

@media screen  and (max-width:786px) {
    nav{
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    
}