*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
}
header
{
    background-color: aqua;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo > img
{
    width: 50px;
    height: 50px;
}

ul{
    display: flex;
    list-style-type:none;
}
 
ul li a
{
    text-decoration: none;
    padding: 10px;
    margin: 10px;
}

main{
    display: flex;
    border: 1px solid red;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.right img
{
 width: 100%;
 height: 600px;
}

.left
{
    width: 30%;
}

.left h1{
    font-size: 50px;
    color: #133b4f;
    text-transform: uppercase ;
}
.left h2{
    font-size: 35px;
    text-transform: capitalize;
}

.left p{
    text-transform: capitalize;
    color: blue;
}