*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(242, 242, 236);
    width: 100%;
    height: 100%;
}

.header
{
    background-color: aqua;
    border: 2px solid Black;
    height:80px;
    text-align: center;
    padding-top: 20px;
}

nav{
    display: flex;
    justify-content: end;
    border: 2px solid black;
    margin-top: 10px;
    line-height: 50px;
}

.nav-cont
{
    font: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

   .nav-cont .item 
{
    text-decoration: none;
    gap: 20px;
}

main{
    border: 2px solid black;
    margin-top: 10px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    
    font-size: 50px;
}

footer
{
    border: 2px solid black;
    height: 140px;
    text-align: center;
    color: chocolate;
    letter-spacing: 0.9;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}