*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    
    background-color: aqua;
}

.container
{
    display: grid;
    background: white;
    border: 3px soild black;
    border-radius: 10px;
    margin: 20px;
    gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 150px 150px;
}

.item
{
 background-color: rgb(7, 240, 240);
}