*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 body{
    width: 100%;
    height: 100%;
    background-color: rgb(237, 226, 233);
 }
 header
 {
    border: 2px solid black;
    border-radius: 10px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 main{
    border: 3px solid black;
    border-radius: 10px;
    margin-top: 10px;
    height: 350px;
    width: 49%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
 }
  aside{
    border: 3px solid black;
    border-radius: 10px;
    margin-top: 10px;
    height: 350px;
    width: 50%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
 }

  footer{
    border: 3px solid black;
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
   
 }