*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: cornflowerblue;
}

.container
{
    display: grid;
    grid-template-columns: repeat(3 , 150px);
    grid-template-rows: repeat(3 , 150px);
    grid-gap: 20px 20px;
}



.item1
{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: bisque;
}

.item2
{
    grid-row-start: 2;
    grid-row-end: 6  ;
    background-color: bisque;
}