*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: azure;
    width: 100%;
    height: 100%;
}

header
{
    border: 2px solid black;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

section
{
    border: 2px solid black;
    height: 100px;
    margin-top: 10px;
    height: 180px;
}

section .left
{
    border: 2px solid black;
    width: 25%;
    height: 80px;
    margin: 10px auto auto 10px;
    border-radius: 10px;
     display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

section .right
{
    border: 2px solid black;
    width: 70%;
    height: 80px;
    margin: 10px auto auto 10px;
    border-radius: 10px;
     display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

section .lef
{
    border: 2px solid black;
    width: 75%;
    height: 80px;
    margin: 10px auto auto 10px;
    border-radius: 10px;
     display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

section .righ
{
    border: 2px solid black;
    width: 20%;
    height: 80px;
    margin: 10px auto auto 10px;
    border-radius: 10px;
     display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

footer
{
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 10px;
}